/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/01/2014, 23:57:27
    Author     : Leandro
*/

.center {
    margin: auto;
}

.pagelayout {
    width:850px;
    margin-left:auto;
    margin-right: auto;
}